 :root{
--Soft-orange:hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);
--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
--ff:'Inter', sans-serif;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding:0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    overflow: auto ;
  }

  img, picture, svg {
    display: block;
    max-width: 100%;
  }

  button {
    font: inherit;
  }

  p, h1,p.title-bold{
    overflow-wrap: break-word;
    font-family: var(--ff);
  }
 /* //////////////////////////////header////////////////////////// */
.all-content{
width:min(1400px,100% - (1em * 2));
margin:min(2em,10%) auto;
}

header > * , main > *{
  padding-block: 1em;

}
.logo{
display: flex;
}
.menu-bar{
  margin-left:auto;
  cursor: pointer;
  margin-top:1em;
}
header{
  position: relative;
}
nav{
    display:none;
    background-color: white;
    height: 100vh;  
    width:60%;
    position:absolute;
    top:-1.9em;
    right:-1.2em;
    z-index:22;   
    box-shadow: 0 0 0 9999px #000000b0;
    outline: 3px solid white;
}
.menu-icon{
    position: absolute;
    right:1.8em;
    top:3.3em;

}
.menu-close {
    cursor:pointer;

}
nav ul{
    list-style-type: none;
    padding:7em 1em 0;
}
nav li  {
    margin-top:1em;
}
a{
    text-decoration: none;
    color:black;
    font-family: var(--ff);
    font-weight: 400;
}
nav a:hover{
  color: var(--Soft-red);
}
@media (min-width:50em) {
  nav{
    display: block !important;
    box-shadow: unset;
    height: max-content;
    right: 0;
    top:1em;
    width: fit-content;
    padding:0;
  }
  nav a{
    color: var(--Dark-grayish-blue);
  }
  .menu-close, .menu-bar{
    display: none;
  }
  ul{
    display: flex;
    gap:1em;
    
  }
  ul,li{
    padding:0 !important;
  }
  li{
    padding-right:3em !important;
  }
  
  .grid-inline{
    display:grid;
    width: 100%;
    grid-template-columns:1fr 1fr 1fr;
    gap:1em;
  }
  .even-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .even-column-right p{
    color: var(--Dark-grayish-blue);
    font-weight: 400;
  }
  .hero-flex{
    grid-column: 1/3;
   
  }
  button{
margin-bottom: 0 !important;
  }
  aside{
    grid-column: 3/4;
  }
  .products{
    display: flex;
  }


}
/* -----------------------main---------------------- */

picture img{
 height: 300px;
 width: 100%;
}
h1{
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 1em;
  max-width: 300px;
}
.even-column{
  padding-top: 1.5em;
}
button{
  width: 50%;
  margin-top:2em;
  margin-bottom:1em;
  border-radius: .2rem;
  border-color:transparent;
  background-color: var(--Soft-red);
  padding:1em 0 ;
}
button:hover{
  background-color: var(--Very-dark-blue);
}
button a{
  color:var(--Off-white);
  text-transform: uppercase;
  letter-spacing: 3px;
}

aside{
  padding:1em;
  background-color: var(--Very-dark-blue);
}
.title-new{
  font-size: 2rem;
  color:var(--Soft-orange); 
  font-family: var(--ff); 
  font-weight: 600;
}
.aside-content-item{
  padding:1.5em 0;
}
.aside-content-item p.title-bold{
 color:var(--Off-white);
 font-weight: 600;
}
.aside-content-item p.title-bold:hover{
  color:var(--Soft-orange);
 }
.aside-content-item p{
 color:var(--Grayish-blue);
}
aside .border{
  position: relative;
  
}
aside .border::before{
  content:"";
  position:absolute;
  width: 90%;
  left:5%;
  background-color: var(--Dark-grayish-blue);
  display: block;
  height: 1px;
  top:0em;
}
aside .border::after{
  content:"";
  position:absolute;
  width: 90%;
  left:5%;
  background-color: var(--Dark-grayish-blue);
  display: block;
  height: 1px;
  bottom:0em;
}

/* ///////////////////product//////// */
.products > * {
  padding-bottom:1.5em;
}
.products__item-flex{
  display: grid;
  grid-template-columns:1fr 1fr 1fr; 
  gap:1em;
  width:min(400px,1fr);
}
.image-product{
  grid-column: 1/2;
}
.image-product img{
  height:min(250px,100%);
  min-width: 100%;
}
.info-product{
  grid-column: 2/4;


}
.info-product * + * {
  padding-top: 1em;
}

.info-product p:nth-child(2){
  font-weight: 800;
  font-size: 1.3rem;
  padding: 0;
}
.info-product p:nth-child(2):hover{
  color: var(--Soft-red);
}

.info-product p:nth-child(3){
  color: var(--Dark-grayish-blue);
  max-width: 350px;
}
.number{
  font-family: var(--ff);
  font-weight: 800;
  font-size: 2rem;
  color:var(--Grayish-blue);
}



